body, input, button {
    font-size: 14px;
    font-family: arial,sans-serif;
    color: #222;
}

.topnatopnavbarleft {
    display: flex;
    align-items: center;
    padding: 6px;
    flex-direction: row;
    align-content: center;
    justify-content: normal;
}
.topnavbarright {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.material-icons {
    height: 32px;
    width: 32px;
}

.grid{
    height:23px;
    position:relative;
    bottom:4px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li a {
    color:#222;
    display: inline-block;
    padding: 5px;
    margin: 0 5px;
    
}


#logo {
   position: fixed;
  top: 30%;
  left: 50%;
  margin-top: -50px;
  margin-left: -150px;
  height: 92px;
width: 272px;

}

#searchbar {
        position: absolute;
        left: 50%;
        top: 50%;
        width: 300px;
        height: 100px;
        margin-top: -50px; /* Half of total height */
        margin-left: -150px; /* Half of total width */
        appearance: auto;
    box-sizing: border-box;
    box-shadow: 0 1px 6px 0 rgb(32 33 36 / 28%);
    padding: 1px 2px;
    height: 44px;
    font-size: 16px;
    
}

.searchbar {
    height: 100px;
    width: 337px;
    border-radius: 25px;
    border: 0.5px solid black;
    -webkit-appearance: searchbar;
    border:none;
    
}

.searchbar:focus-within{
    box-shadow: 1px 1px 8px 1px #dcdcdc;
    outline:none;}

.searchbuttons {
    display: block;
    text-align: center;
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    cursor: pointer;
    user-select: none;}

.button {
    position: absolute;
    top: 50%;

}

.buttonleft {
    position: fixed;
    top: 50%;
    left: 40%;
}



   


